@charset 'UTF-8';
// Tools
@import 'tools/variables';
// Vendors
@import 'vendor/responsive';
// Base
@import 'base/normalize';
@import 'base/base';
// Components
@import 'components/buttons';
// Layout
@import 'layout/header';


body{
    background: #ccc;
}

.bomberman-map {
    width: 750px;
    margin: 0 auto;
    position: relative;
}

.bomberman-map .cell {
    height: 60px;
    width: 60px;
    float: left;
    border: 1px solid black;
}

.bomberman-map .empty {
    background-color: white;
}

.bomberman-map .unbreakable {
    background-color: black;
}

.bomberman-map .breakable {
    background-color: brown;
}

.bomberman-map .item {
    background-color: red;
}

.player{
    background: blue;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

.bomb{
    background: yellow;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 0;
}
