@charset 'UTF-8';
// Tools
@import 'tools/variables';
// Vendors
@import 'vendor/responsive';
// Base
@import 'base/normalize';
@import 'base/base';
// Components
@import 'components/buttons';
// Layout
@import 'layout/header';
body {
    background: #ccc;
}

.bomberman-map .table {
    width: 750px;
    margin: 0 auto;
    position: relative;
}

.bomberman-map .table .cell {
    height: 60px;
    width: 60px;
    float: left;
    border: 1px solid black;
}

.bomberman-map .table .empty {
    background-color: white;
}

.bomberman-map .table .unbreakable {
    background-color: black;
}

.bomberman-map .table .breakable {
    background-color: brown;
}

.bomberman-map .table .item {
    background-color: red;
}

.bomberman-map .table .bombe_plus_one{
    background-color: grey;
}
.bomberman-map .table .bombe_area_bonus{
    background-color: yellow;
}
.bomberman-map .table .walk_fast{
    background-color: green;
}

.bomberman-map .table .player {
    background: blue;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
}

.bomberman-map .table .bomb {
    background: white;
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 0;
}
