
.bomberman-map .table .more_bombs {
    background-image: url(../img/bomb.jpg);
}

.bomberman-map .table .bomb_area_bonus {
    background-image: url(../img/bubble.jpg);
}

.bomberman-map .table .push_bombs {
    background-image: url(../img/push.png);
}